body{
    background-color: lightblue;
}

h1{
    color: white;
    text-align: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: red;
    text-align: center;
    border: 2px solid gray;
    padding: 20px;
    margin: 25px;
}

/* table, th, td { 
    border: 1px solid black;
    border-collapse: collapse; 
    border-radius: 10px;
}*/

th, td{
    background-color: #33e175;
    border: 1.5px solid black;
    /* border-collapse: collapse; */
    border-radius: 5px;
    border-style: outset;
    border-color: rgb(210, 88, 88);
}